@import "../../styles/variables.scss";

.mountain-range-scene-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.mountain-range-scene-section__text {
  text-align: center;
  border: 1px solid var(--color-primary);
  background: var(--color-bg);
  padding: goldenRem(2);
  box-shadow: 2px 2px 10px black;
  transition: 1s ease-out;
}

.mountain-range-scene {
  overflow: hidden;
  display: flex;
  justify-content: center;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  height: 100vh !important;
  width: 100%;
  background: black;
}

.mountain-range-scene-canvas {
  height: 100vh;
  width: calc(100vh * 16 / 9);
}

.play-controls {
  position: absolute;
  bottom: goldenRem(5);
  list-style: none;
  display: flex;
  align-items: center;
  background: var(--color-bg);
  border: 1px solid var(--color-primary);
  padding: goldenRem(0);
  transition: 1s;
  li {
    // margin-right: goldenRem(2);
    &:last-child {
      margin-right: 0px;
    }
  }
  button {
    padding: goldenRem(1);
    cursor: pointer;
    background: none;
    display: flex;
    min-width: calc(goldenRem(5) + 0.5rem);
    justify-content: center;
    align-items: center;
    border: none;
    svg {
      fill: var(--color-primary);
    }
    &:hover {
      svg {
        fill: var(--color-alternate-accent);
      }
    }
  }
}

.play-controls--hidden {
  opacity: 0;
  bottom: goldenRem(3);
}

.play-controls__icon {
  height: goldenRem(4);
}
