.project-list-li {
  position: relative;
  margin-bottom: goldenRem(4);
  transition: 0.3s;
  border: 1px solid var(--color-primary);
  border-bottom: 0px;
  @media only screen and (min-width: goldenRem(12)) {
    overflow: hidden;
  }
}

.project-list-li__details-container {
  height: 0px;
  overflow: hidden;
  transition: 0.3s;
}

.project-list-li__details-container--expanded {
  @media only screen and (max-width: goldenRem(12)) {
    border-bottom: 1px solid var(--color-primary);
  }
}

.project-list-li__main-bar {
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: goldenRem(3);
  height: goldenRem(6);
  cursor: pointer;
  position: relative;
  border-bottom: 1px solid var(--color-primary);
  &:hover {
    background: var(--color-accent);
  }
}

.project-list-li__title {
  font-size: goldenRem(4);
  margin-right: goldenRem(4);
  min-width: goldenRem(9);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  @media only screen and (max-width: calc(goldenRem(10) + 1.6rem)) {
    min-width: 0px;
    font-size: fontSize(3);
    margin-right: goldenRem(5);
  }
}

.project-list-li__tagline {
  margin-right: goldenRem(5);
  @media only screen and (max-width: goldenRem(11)) {
    display: none;
  }
}

.project-list-li__main-bar--active {
  background: var(--color-accent);
}

.project-list-li__expand-button {
  height: goldenRem(4);
  width: goldenRem(4);
  border: none;
  cursor: pointer;
  background: none;
  position: absolute;
  right: goldenRem(2);
  top: 50%;
  transform: translateY(-50%);
  @media only screen and (max-width: calc(goldenRem(10) + 1.6rem)) {
    height: goldenRem(3);
    width: goldenRem(3);
  }
}

.project-list-li__expand-button-icon {
  width: 100%;
  height: 100%;
  fill: var(--color-primary);
  transform: rotate(-90deg);
  display: none;
  @media only screen and (max-width: goldenRem(12)) {
    display: block;
  }
}

.project-list-li__expand-button-icon--expanded {
  transform: rotate(90deg);
}

.project-list-li__image-container {
  height: goldenRem(5);
  margin-right: goldenRem(6);
  img {
    height: 100%;
    display: block;
  }
  @media only screen and (max-width: calc(goldenRem(10) + 1.6rem)) {
    height: goldenRem(4);
    margin-right: goldenRem(4);
  }
}
