.projects-page-right-box {
  width: calc(100% - calc(100% * $goldenRatioFraction));
  transition: width 0.9s ease;
  padding-left: calc(goldenRem(3) - goldenRem(2));
  padding-right: goldenRem(3);
  padding-bottom: goldenRem(3);
  display: flex;
  flex-direction: column;
  @media only screen and (max-width: goldenRem(12)) {
    display: none;
  }
}

.projects-page-right-box--expanded-right {
  width: 100%;
}

.projects-page-right-box__title-bar {
  width: 100%;
  height: goldenRem(6);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-primary);
}

.projects-page-right-box__project-details-container {
  border-right: 1px solid var(--color-primary);
  border-left: 1px solid var(--color-primary);
  border-bottom: 1px solid var(--color-primary);
  padding: goldenRem(4);
  padding-bottom: 0px;
  flex: 1;
  overflow-y: auto;
  overflow-x: auto;
}
