.project-details__description {
  p {
    margin-bottom: goldenRem(2);
  }
  ul {
    list-style-position: inside;
    margin-bottom: goldenRem(2);
  }
}

.project-details__tagline-with-project-links {
  display: flex;
  justify-content: space-between;
  margin-bottom: goldenRem(2);
  @media only screen and (max-width: goldenRem(10)) {
    flex-direction: column;
  }
}

.project-details__tagline {
  font-size: fontSize(3);
  @media only screen and (max-width: goldenRem(10)) {
    margin-bottom: goldenRem(1);
  }
}

.project-link {
  margin-right: goldenRem(1);
  &:last-child {
    margin-right: 0px;
  }
}

.project-link-icon {
  height: goldenRem(4);
  width: goldenRem(4);
  fill: var(--color-primary);
  cursor: pointer;
  &:hover {
    fill: var(--color-alternate-accent);
  }
}

.project-details__image-container {
  max-width: goldenRem(11);
  overflow: hidden;
  img {
    max-width: 100%;
    display: block;
    cursor: pointer;
  }
  border: 1px solid var(--color-primary);
  margin-bottom: goldenRem(2);
}

.project-details__technology-icons-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.project-details__technologies-name {
  margin-bottom: goldenRem(1);
}
