@import "../../styles/variables.scss";

.intro-page {
  width: 100%;
}

.intro-page__parallax-space-creator {
}

.intro-page__content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10rem;
}

.intro-page__title {
  font-size: 3rem;
}

.intro-page__sub-title {
  margin-bottom: goldenRem(1);
}

.intro-page__sub-title--big {
  font-size: 3rem;
}

.intro-page__links {
  a {
    margin-right: goldenRem(1);
    &:last-child {
      margin-right: 0px;
    }
  }
}

.emojis {
  transition: 0.5s;
}
.emojis-fall {
  transform: rotateX(90deg);
}
