@import "../../styles/variables.scss";

.intro-page {
  width: 100%;
  height: 100vh;
  position: relative;
  h4 {
    margin-bottom: goldenRem(1);
  }
}

.intro-page__content {
  position: absolute;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  left: 50%;
  transform: translateX(-50%);
  top: goldenRem(8);
  border: 1px solid var(--color-primary);
  background: var(--color-accent);
  padding: goldenRem(6);
  text-align: center;
  h1,
  h4 {
    white-space: nowrap;
  }
  h4 {
    font-size: fontSize(3);
  }

  @media only screen and (max-width: goldenRem(11)) {
    padding: goldenRem(6);
    h1 {
      font-size: fontSize(5);
    }
    h4 {
      font-size: fontSize(2);
    }
  }

  @media only screen and (max-width: goldenRem(10)) {
    overflow-wrap: normal;
    text-overflow: wrap;
    padding: goldenRem(5);
    overflow: auto;
    word-wrap: break-word;
    text-align: center;
    h1 {
      text-align: center;
      white-space: normal;
      text-overflow: ellipsis;
      font-size: fontSize(4);
    }
    h4 {
      white-space: normal;
      font-size: fontSize(1);
    }
    span {
      font-size: fontSize(1);
      white-space: normal;
    }
  }
}

.intro-page__title {
  font-size: 3rem;
}

.intro-page__sub-title {
  margin-bottom: goldenRem(1);
}

.intro-page__sub-title--big {
  font-size: 3rem;
}

.intro-page__links {
  a {
    margin-right: goldenRem(1);
    &:last-child {
      margin-right: 0px;
    }
  }
}

.emojis {
  transition: 0.5s;
}
.emojis-fall {
  transform: rotateX(90deg);
}
